<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d77b7a8887.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body class="about">
    <body>
        <header class="header--horizontal">
            <nav class="header__nav--horizontal">
                <ul class="header__nav__ul--horizontal">
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/music">music</a></li>
                    <li class="header__nav__ul__li--4"><a href="/contact">contact</a></li>
                </ul>
            </nav>
            <nav class="header__nav--redes">
                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://spotify.com/"><i class="fa-brands fa-spotify"></i></a>
                <a href="https://apple.com/"><i class="fa-brands fa-apple"></i></a>
                <a href="https://amazon.com/"><i class="fa-brands fa-amazon"></i></a>            
                <a href="https://instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
            </nav>
        </header>
        <main class="main">
            <h1 class="main__h1">about <br>Emilia //</h1>

            <section class="main__section">
                <h3 class="main__section__h3">"Seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album"</h3>
                <p>- John Tirckle, Music Today Post</p>
            </section>
            <section class="main__section">
                <h3 class="main__section__h3">"Emilia Cole is one of the <br>scene's breakout stars"</h3>
                <p>- John Tirckle, Music Today Post</p>
            </section>
        </main>

</body>
</html>