/* .home__main {
    
} */

body.home {
    background-image: url("/img/emilia-home.jpg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right -120px;
}

.home__main h2 {
    font-family: var(--tipografiaEmilia);
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.home__main h1 {
    font-family: var(--tipografiaTitulos);
    font-weight: 700;
    font-size: 65px;
    background-color: rgba(255, 255, 255, 0.5);
}

